.App {
  text-align: center;
}
.payment h1 {
  text-align: left;
  color: #fff;
  font-size: 20px;
  background-color: rgb(67, 163, 67);
  padding: 15px;
  font-style: italic;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 5px;
}

.login-btn {
  width: 20%;
}

.login-zone {
  text-align: center;
}
