.product-image {
  width: 300px;
  height: 300px;
  flex: 0 0 100%;
}

.product-image:hover {
  z-index: 10;
}

.title {
  color: #555;
  font-size: 2em;
  width: 100%;
}
.title h1 {
  text-align: left;
  font-style: italic;
}

.title h6 {
  margin-top: 15px;
}

.commerce-zone {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-top: 20px;
}

.price {
  font-size: 20px;
  font-weight: 700;
}

.buy-now {
  padding: 10px 40px;
  font-size: 16px;
  background: #f17e0a;
  border: none;
  border-color: #f17e0a;
  color: #fff;
  cursor: pointer;
}

.buy-now:hover {
  background: #eb8b2c;
}

.description {
  padding: 10px;
  color: blue;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.back-to-shop {
  width: 100%;
  margin-top: 20px;
}

.back-to-shop button {
  width: 100%;
  padding: 15px;
}
